@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/fonts/RoundsBlack.otf");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "RoundsBlack";
    src: url("/fonts/RoundsBlack.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url(
            "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        )
        format("opentype");
}

.grid-container::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container:first-child::after {
    background-image: url("/images/body/grid-container-1.png");
}

.grid-container:nth-child(2)::after {
    background-image: url("/images/body/grid-container-2.png");
}

.grid-container:nth-child(3)::after {
    background-image: url("/images/body/grid-container-3.png");
}

.grid-container:last-child::after {
    background-image: url("/images/body/grid-container-4.png");
}